
<form #f ="ngForm">
    <input type="hidden" name="id" [(ngModel)]="user.id">
    <div>
        <label class="form-label" for="firstname">First name</label>
        <input class="form-control" [(ngModel)]="user.name" name="firstname" id="firstname">
    </div>
    <div>
        <label class="form-label" for="lastname">Last name</label>
        <input class="form-control" [(ngModel)]="user.lastname"  name="lastname" id="lastname">
    </div>
    <div>
        <label class="form-label" for="fiscalcode">Fiscal code</label>
        <input class="form-control" [(ngModel)]="user.fiscalcode" name="fiscalcode" id="fiscalcode">
    </div>
    <div>
        <label class="form-label" for="phone">Phone</label>
        <input class="form-control" [(ngModel)]="user.phone" name="phone" id="phone">
    </div>
    <div>
        <label class="form-label" for="province">Province</label>
        <input class="form-control" [(ngModel)]="user.province" name="province" id="province">
    </div>
    <div>
        <label class="form-label" for="email">Email</label>
        <input class="form-control" [(ngModel)]="user.email" type="email" name="email" id="email">
    </div>
    <div>
        <label class="form-label" for="age">Age</label>
        <input class="form-control" [(ngModel)]="user.age" type="number" name="age" id="age">
    </div>
    <div class="form-footer form-group row m-2">
        <div class="col-4 d-flex justify-content-center">
             <a class="btn btn-lg btn-primary" [routerLink]="['/users']">BACK TO USERS</a>
        </div>
       <div class="col-4 d-flex justify-content-center">
            <a class="btn btn-lg btn-outline-secondary" (click)="resetForm(f.form)">RESET</a>
       </div>
        <div class="col-4 d-flex justify-content-center">
            <a class="btn btn-lg btn-success" (click)="saveUser()">SAVE</a>
        </div>
    </div>
</form>
